<h1>Feifan's Demo</h1>
<p>Provide us a thing you thought you know everything about it or just something you are interested in. We will give you an information you might not know before and it will be interesting!</p>
<form method="post" action="/gpt/feifan-response">
  <textarea name="userInput"></textarea>
  <p><input type="submit" value="Get response"></p>
</form>
