<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
</head>
<body>
    <h1>About our team :)</h1>
    <h2>Tianling Hou</h2>
    <p>Hello, my name is Tianling Hou and I am an MS4 student at Brandeis University. I have a few passions in life, including snowboarding, eating delicious food, and traveling. When I'm not hitting the slopes or trying out new restaurants, I enjoy working with my team members to help develop and improve our projects. I am always looking for ways to contribute to the team and make our projects the best they can be.</p>
    <h2>Bing Han</h2>
    <p>I'm a MS4 student at Brandeis University. I have a little yorkie Luna. My role is to make sure our webpage runs properly.</p>
    <h2>Feifan He</h2>
    <p>I'm a MS4 student at Brandeis University with a passion for longboarding and a cute hamster named Tater Tots. I'm all about creating good vibes and keeping the team motivated. </p>
    <h2>Yingshan Hu</h2>
    <p>I am a MS4 student at Brandeis University.<br> I am also a proud owner of a cute rag doll cat who keeps me company while I study and work on my projects.
    In my free time, I love to travel and explore new places, but when I'm not traveling, I enjoy building webpages and developing my coding skills.As for my role, I love collaborating with my teammates and I help optimize our work’s performance. </p>
</body>
</html>
